body {
  background-color: #f9f7fe;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/164/830/original/worldmap.jpg?1746387315);
  background-size: cover;
  background-position: center;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 200px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0;
  line-height: 1.5;
  color: #fff;
  opacity: 0.7;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;

  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba(238, 231, 231, 0.2);
}

select:focus {
  border-color: #8f8c8c;
  box-shadow: 0 0 1px 3px rgba(238, 231, 231, 0.5);
  outline: none;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px inset rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border-bottom: none;
}

.date {
  font-size: 14px;
  font-weight: 600;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.btn-home {
  color: #fff;
  opacity: 0.7;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.btn-home:hover {
  opacity: 0.9;
}

footer a {
  font-weight: bold;
  color: darkblue;
  opacity: 0.7;
}

@media (max-width: 500px) {
  .time {
    font-size: 36px;
  }
}

@media (max-width: 400px) {
  .time {
    font-size: 26px;
  }
}

@media (max-width: 350px) {
  .city {
    display: block;
    padding: 8px 0 20px 0;
  }

  .time {
    text-align: right;
  }
}
